/*---------------
    Header Style
------------------  */
.header-top{
    background-color: #264653;
}
.purchase-btn{
    background-color: #E76F51;
}
.headline{
    font-size: 2.5rem;
    font-weight: 600;
}
/*--------------
Feature style
---------------- */
.featured-title-1{
    font-size: 3rem;
    font-weight: 600;
}
.featured-title-2{
    color: #E76F51;
    font-weight: 600;
}
.grey-img{
    filter: grayscale(1);
}
.grey-img:hover{
    filter: grayscale(0);
}
/*-----------------
  Clint's Feedback
----------------- */
.client-title-1{
    color: #0A0826;
    font-size: 3rem;    
}
.client-title-2{
    color: #E76F51;  
    font-size: 3rem; 
}
.feedback-details{
    color: #6C6C6C;
}
.rating-stars{
    color: #E77C40
}
.client-name{
    color: #23A6F0
}
.client-occupasion{
    color: #252B42;
    font-weight: 600;
}
/*----------------
      F.A.Q 
----------------- */
.faq-title-1{
    color: #0A0826;
    font-size: 2.5rem;
    font-weight: 600;
}
.faq-title-2{
    color: #E76F51;  
    font-size: 2.5rem; 
    font-weight: 600;
}
/*----------------------
   Explore Honda bikes
-------------------- */
.explore-title-1{
    color: #0A0826;
    font-size: 2.5rem;
    font-weight: 600;
}
.explore-title-2{
    color: #E76F51;  
    font-size: 2.5rem; 
    font-weight: 600;
}
.exp-card:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

/*--------------- 
      All Brands
---------------- */
.brand{
    cursor: pointer;
}
/*----------------
       Footer
------------------  */
.footer{
    background-color: #264653;
}